<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="General Suite" parallel="false" verbose="10"
	allow-return-values="true">

	<test name="Regression">

		<groups>
			<define name="normal-tests">
				<include name="unitary-tests"></include>
			</define>

			<define name="other-tests">
				<include name=".*functional"></include>
				<include name=".*integration"></include>
			</define>

			<define name="all-tests">
				<include name="normal-tests"></include>
				<include name="other-tests"></include>
			</define>

			<run>
				<include name="all-tests"></include>
			</run>

		</groups>

		<packages>
			<package name="project.*"></package>
		</packages>

	</test>
</suite> <!-- Suite Tests -->
