<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="General Suite" parallel="false" verbose="10">

	<test name="Group test plan">
		<groups>
			<run>
				<include name=".*tests"></include>
				
			</run>
		</groups>

		<packages>
			<package name="project.testng.tests"></package>
			<package name="projet.testng.newtests"></package>
		</packages>
	</test>

</suite> <!-- Suite Tests -->
